.page{
display: grid;
grid-template-columns: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
grid-template-rows:1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
grid-template-areas: "red black black black black black black black"
                     "orange orange white white white white white black"
                     "yellow yellow yellow white white white white black"
                     "green green green green white white white black"
                     "cyan cyan cyan cyan cyan white white black"
                     "blue blue blue blue blue blue white black"
                     "violet violet violet violet violet violet violet black"
                     "purple purple purple purple purple purple purple purple";
}

.page .black{
background-color:#000000;
grid-area: "black";
}
.page .white{
background-color:#FFFFFF;
  grid-area: "white";
}
.page .red{
background-color: #FF0000;
  grid-area: "red";
}
.page .orange{
  background-color:#FFA500;
  grid-area: "orange";
}
.page .yellow{
  background-color:#ffff00;
  grid-area: "yellow";
}
.page .green{
  background-color:#008000;
  grid-area: "green";
}
.page .cyan{
  background-color:#00FFFF;
  grid-area: "cyan";
}
.page .blue{
  background-color:#0000FF;
  grid-area: "blue";
}
.page .violet{
  background-color:#EE82EE;
  grid-area: "violet";
}
.page .purple{
  background-color:#800080;
  grid-area: "purple";
}
