body { background-color: #ffffcc;
	  background-image: url(images/background.gif);
	  color: #330000; 
	  font-family: Tahoma, Verdana, sans-serif; }
#logo {
float: left;    
 margin: 0 15px 0 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li a {
  display: block;
}

h1 { background-color: #ccaa66;
	margin: 0 auto;
	color: #000000; 
	font-size: 4em;
	text-align: left; 
	line-height: 200%; }
	
footer { background-color: #ccaa66;
	   color: #000000;
	   font-size: small;
	   font-style: italic; 
	   text-align: center;
	   line-height: 100%;
	   padding: 10px; }

nav { 
	float: left;
	width: 90px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 750px;
  width: 170px;
}

.right { 
			text-align: right; 
		} 

#pagelink { 
	text-align: center; 
	font-size: 1.5em;
}

#wrapper { background-color: #ffffcc;
		   margin-left: auto;
		   margin-right: auto;
		   width: "170"; 
		   min-width: 700px;
		   max-width: 1024px;
		   box-shadow: 3px 3px 3px; }

h2 { background-color: #ffffcc;
	font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 5px; }


h3 { background-color: #ccaa66;
	font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 5px; }

main { padding: 25px;
font-weight: lighter;
margin-left: 100px;
}

.details { padding-left: 20%;
		   padding-right: 20%; }

img { border: 0; }
